APP_ENV=development

GRPC_PORT=50051

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=gym
POSTGRES_PASSWORD=gym_password
POSTGRES_DB=membership_db
POSTGRES_SSL_MODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

NATS_URL=nats://localhost:4222

JWT_SECRET=super-secret-key

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=your_email@gmail.com

REQUEST_TIMEOUT_SECONDS=5